body{
    margin:0px;
    background-image: url('./img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    width:100vw;
    height:5vh;
    font-size: 4vh;
    padding:1vh 1vh 0vh 1vh;
}
#diceImg{
    height:5vh;
    border:1px solid pink;    
}

.globalMenu{
    float:left;
    margin-left: 5px;
    margin-right: 5px;
    border:1px solid pink;
}
#shopBtn{
    float:right;
}

main{
    padding:0px;
    width:100vw;
    height:95vh;
}

#wrapper{
    width:100vw;
    height:100%;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    justify-items:center;
    align-items:center;
}

.item{
    width:10vw;
    border:1px solid black;
    text-align:center;
    position:relative;
    font-size:2vw;
}
.item:after{
    content:"";
    display:block;
    padding-bottom:100%;
}

.item:hover{
    background-color:antiquewhite;
    transform:scale(1.1);
}
.item:active{
    background-color:rgb(255, 250, 205,50%);
}
.open{
    background-color:rgb(248, 226, 255,50%);
    width:75%;
    line-height:18vw;
}

.inner{
    position:absolute;
    left:0px;
    width:100%;
    height:100%;
}

.popup{
    display:none;
    width:90vw;
    height:85vh;
    border:1px solid;
    position:absolute;
    top:10vh;
    left:5vw;
    background:rgb(250, 222, 226);
}

.missionViewerTitle{
    text-align: center;
    margin-top: 5vh;
    font-size: 10vh;
}
.missionViewerDetail{
    text-align: center;
    margin-top: 5vh;
    font-size: 5vh;
}


#inputPoint, #inputCrystal{
    text-align: center;
    margin-top: 5vh;
}
#inputPointValue, #inputCrystalValue{    
    text-align: center;
    margin-top: 5vh;
    font-size: 5vh;
}

#inputPointBtn{
    height:5vw;
    font-size: 5vh;
}

.cancelBtn{
    position:absolute;
    width:4vw;
    height:4vw;
    top:0px;
    right:0px;
}

#shopWrapper{
    width:100%;
    height:40%;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
    justify-items:center;
    align-items:center;
    text-align: center;
}

.shopItem{
    width:50%;
    height:auto;
    font-size:3vh
}

#shopText1{
    text-align: center;
    margin-top: 5vh;
    font-size: 10vh;
}

#shop0Img, #shop1Img, #shop2Img, #shop3Img, #shop4Img, #shop5Img {
    width:100%;
    height:100%;
}